.post-comments-container {
    margin-top: 10px;
    .see-commets {
        background-color: cadetblue;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .post-comments{
        .post-comment {
            border-top: solid 1px #767676;
            padding: 10px 0;
            h5 {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 0;
            }
            p {
                font-size: 12px;
                margin-bottom: 0;
            }
        }
    }
}