.ui-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #185374;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}